services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.9.1
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  python-app:
    build: ./python-app
    container_name: python-app
    volumes:
      - ./python-app:/app
    working_dir: /app
    depends_on:
      - kafka
    command: tail -f /dev/null 

  # Spark Service
  spark:
    image: apache/spark:3.3.1
    container_name: spark
    environment:
      - SPARK_MODE=client
    depends_on:
      - kafka
    ports:
      - "4040:4040" # Spark UI
    volumes:
      - ./spark:/app
    working_dir: /app
    command: tail -f /dev/null
    tty: true
    stdin_open: true

  # Jupyter Notebook
  jupyter:
    image: jupyter/pyspark-notebook
    container_name: jupyter
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    depends_on:
      - kafka
      - spark
